@import "tailwindcss";

@layer base {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  :root {
    /* Primary (Charcoal) */
    --color-primary: #1f2933;
    --color-primary-light: #374151;
    --color-primary-dark: #222b3e;

    /* Secondary (Industrial Blue) */
    --color-secondary: #1e40af;
    --color-secondary-light: #3b82f6;
    --color-secondary-dark: #1e3a8a;

    /* Backgrounds */
    --color-bg-default: #e2e2e2;
    --color-bg-muted: #f9fafb;
    --color-bg-section: #f3f4f6;
    --color-bg-dark: #111827;

    /* Text */
    --color-text-heading: #111827;
    --color-text-body: #374151;
    --color-text-muted: #6b7280;
    --color-text-inverse: #ffffff;

    /* Borders */
    --color-border-default: #d1d5db;
  }
}